## Looping

```
while condition:
    statement
```

In [1]:
n = int(input())
i = 0

while i<=n:
    print(i)
    i = i + 1 # i+=1

0
1
2
3
4
5
6
7
8
9
10

In [21]:
n = 4
i = 1
while i<=n:
    print(i, end=" ")
    i+=1

1 2 3 4

In [3]:
i = 0
while i<=n:
    print(i, end="Manu")
    i+=1

0Manu1Manu2Manu3Manu4Manu5Manu6Manu7Manu8Manu9Manu10Manu

In [4]:
n = int(input())
fact = 1

while n>0:
    fact = fact*n
    n -= 1

In [5]:
fact

6

In [8]:
n = int(input())
s = 0

while n>=0:
    s = s + n
    n -= 1

In [9]:
s

15

Print pattern:
for n = 4
```
1
1 2 
1 2 3
1 2 3 4
```

In [25]:
n = 4
n1 = 1
while n1<=n:
    i = 1
    while i<=n1:
        print(i, end=" ")
        i+=1
    print("", end="\n")
    n1+=1

1
1 2
1 2 3
1 2 3 4

In [28]:
n = 4
i = 1
while i<=n:
    # print(i, end=" ")
    pass

KeyboardInterrupt:

Print pattern:
for n = 4
```
* * * *
* * *
* *
*
```

In [31]:
n = 4
i = n
while i>0:
    print(i, end=" ")
    i-=1

4 3 2 1

In [45]:
n = 
i1 = 1
while i1<=n:
    print("*", end=" ")
    i1+=1

* * * *

In [46]:
n = 4
i = n
while i>0: #to decrement number of stars/ to decide number of stars
    i1 = 1
    while i1<=i: #to print stars
        print("*", end=" ")
        i1+=1
    print("", end="\n")
    i-=1

* * * *
* * *
* *
*

### Assignment
Pattern n=4:
```
       *
     * *
   * * *
 * * * *
```

In [17]:
n = 10
for i in range(n):
    for j in range(n-i):
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [59]:
n = 11

for i in range(n):
    for j in range(n):
        if i >= n-j-1 and i >= j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [69]:
n = 11

for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1 or i == j or i == n-j-1 or i == n//2 or j == n//2:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * * * *
* *       *       * *
*   *     *     *   *
*     *   *   *     *
*       * * *       *
* * * * * * * * * * *
*       * * *       *
*     *   *   *     *
*   *     *     *   *
* *       *       * *
* * * * * * * * * * *

In [26]:
n = 11

for i in range(n):
    for j in range(n):
        if i == n//2 or j == n//2 or (i == 0 and j <= n//2) or (i == n-1 and j >=n//2) or (j ==0 and i >= n//2) or (j == n-1 and i <= n//2):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * *         *
          *         *
          *         *
          *         *
          *         *
* * * * * * * * * * *
*         *
*         *
*         *
*         *
*         * * * * * *

### for

In [47]:
n = int(input())

for i in range(0, n+1, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [48]:
n = int(input())

for i in range(0, n+1, 1):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [49]:
n = 10

for i in range(0, n+1, 2):
    print(i, end=" ")

0 2 4 6 8 10

In [52]:
n = 10
i = -2

while i<n:
    i+=2
    print(i, end=" ")

0 2 4 6 8 10

In [53]:
n = 10
i = 0

while i<=n:
    print(i, end=" ")
    i+=2

0 2 4 6 8 10

Print all prime numbers between 3 to n.

In [81]:
n = 4
is_not_prime_printed = False
for i in range(2,n,1):
    if n%i == 0:
        # print("not prime")
        is_not_prime_printed = True
        break
if is_not_prime_printed == False:
    # print("prime")
    pass

In [108]:
n = 40
for i in range(2, n+1, 1):
    is_not_prime_printed = False
    for j in range(2,i,1):
        if i%j == 0:
            # print("not prime")
            is_not_prime_printed = True
            break
    if is_not_prime_printed == False:
        # print("prime")
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37

In [87]:
for i in range(0, 100):
    pass

In [88]:
i

99

In [ ]:
x = 1000

In [89]:
x

NameError: name 'x' is not defined

In [112]:
for i in range(4):
    for j in range(4):
        print(i, j)
        break
    break

0 0

In [113]:
break

SyntaxError: 'break' outside loop (cell_name, line 4)

In [115]:
for i in range(10):
    if i%2 != 0:
        continue
    print(i, end=" ")
    # if i%2 == 0:
    #     print(i, end=" ")

0 2 4 6 8

In [116]:
for i in range(10):
    if i%2 != 0:
        pass
    else:
        print(i, end=" ")
    # if i%2 == 0:
    #     print(i, end=" ")

0 2 4 6 8

In [118]:
n = 10

for i in range(n):
    print(n - i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [119]:
for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

Manu S Pillai Raghav anjali nisha harsh

### Assignment 2


for n = 5:

```
5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5
```

In [46]:
n = 7
for i in range(n):
    for j in range(n):
        print(max(i+1, j+1, n-i, n-j), end=" ")
    print()

7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7

In [127]:
for i in range(10):
    print(i, end=" ")
    i = 99

0 1 2 3 4 5 6 7 8 9

In [128]:
i

99

In [129]:
i = 0
while i<10:
    print(i, end=" ")
    i = 99
    i+=1

0

In [130]:
i

100

In [133]:
a = 1
type(a)

a = "string"
type(a)

str

In [134]:
a = [1,2,3,4,5,6]
type(a)

list

In [135]:
a = 10
b = 20
c = 30

d = [a, b, c]

print(d)

[10, 20, 30]

In [136]:
for i in d:
    print(i, end=" ")

10 20 30

In [140]:
d = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Indexing in List

In [144]:
d[7]

80

In [147]:
for i in range(10):
    if i%2 == 0:
        print(d[i])

10
30
50
70
90

In [163]:
d = [1,223, 920, 230, 2381, 992, 22, 3, 212, 33, 1245]

In [150]:
for i in range(11):
    if d[i]%3 == 0:
        print(d[i])

3
33
1245

In [152]:
for val in d:
    if val%3 == 0:
        print(val)

3
33
1245

In [154]:
x = 10

x = 1000

In [156]:
d[2] = 1000

In [161]:
d

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [159]:
i = 0
for val in d:
    print(val, end=" ")
    if i+1 < 11:
        d[i+1] = 0
        i+=1

1 0 0 0 0 0 0 0 0 0 0

In [171]:
d = [1, 223, 920, 230, 2381, 992, 22, 3, 212, 33, 1245] # size 11

In [172]:
d[-11]

1

In [173]:
d[-12]

IndexError: list index out of range

In [174]:
d[0]

1

### Slicing

In [175]:
d[1:5]

[223, 920, 230, 2381]

In [176]:
d[:5] # d[0:5]

[1, 223, 920, 230, 2381]

In [177]:
d[5:] # d[5:11]

[992, 22, 3, 212, 33, 1245]

In [189]:
d = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [190]:
d[::2]

[10, 30, 50, 70, 90, 110]

In [191]:
d[::-1] # d[10::-1]

[110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [194]:
d[10::-1]

[110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [192]:
d[10]

110

In [193]:
d[-1]

110

In [195]:
d[10:-1:-1]

[]

'append',  'clear', 'copy', 'count','extend','index','insert','pop','remove','reverse','sort'

In [64]:
l = [1, 1.0, "String", True, [1, 2, 3, [1,2,3, "manu", 5]], 231]

In [65]:
type(l)

list

In [72]:
l[-2][-1][-2]

'manu'

In [66]:
l1 = l[-2]

In [67]:
l1

[1, 2, 3, [1, 2, 3, 'manu', 5]]

In [68]:
l1[-1]

[1, 2, 3, 'manu', 5]

'manu'

In [73]:
st = "Manu"

In [81]:
st[::-1]

'unaM'

In [82]:
st[0] = "T"

TypeError: 'str' object does not support item assignment

'append',  'clear', 'copy', 'count','extend','index','insert','pop','remove','reverse','sort'

In [110]:
dummy_list = [1,2,3,4,5,6,7,8,9]

In [111]:
dummy_list.append("Manu")

In [112]:
dummy_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Manu']

In [89]:
dummy_list.clear()

In [90]:
dummy_list

[]

In [93]:
dummy_list = [1,2,3,4,5,6,7,8,9, 9, 10, 10, 3]

In [98]:
dummy_list.count(5)

1

In [105]:
l1 = [1,2,3,4]
l2 = [10, 20, 30, 40]

In [100]:
l1.append(l2)

In [101]:
l1

[1, 2, 3, 4, [10, 20, 30, 40]]

In [103]:
l1.extend(l2)

In [104]:
l1

[1, 2, 3, 4, 10, 20, 30, 40]

In [106]:
#extend
for val in l2:
    l1.append(val)

In [153]:
l1

[1, 2, 3, 4, 10, 20, 30, 40]

In [151]:
l1.index?

Docstring:
L.index(value, [start, [stop]]) -> integer -- return first index of value.
Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [152]:
l1.index(10, 4, -1)

4

In [155]:
l1.pop(4)

10

In [157]:
l1[4]

20

In [158]:
l2 = [1,2,3,4,5,6,7,8]

In [167]:
l2.reverse()

In [168]:
l2

[8, 7, 6, 5, 4, 3, 2, 1]

In [165]:
l2[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [169]:
l2.sort()

In [170]:
l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [146]:
dummy_list1 = [1,2,3]

In [147]:
dummy_list1.append(30)

In [148]:
dummy_list1

[1, 2, 3, 30]

In [171]:
a = 10
b = a

print(b)

10

In [172]:
a = 10
b = a
a = 20

print(b)

10

In [173]:
a = [1,2,3]
b = a

print(b)

[1, 2, 3]

In [174]:
a = [1,2,3]
b = a

a = 10
print(b)

[1, 2, 3]

In [175]:
a = [1,2,3]
b = a

a[0] = 10
print(b)

[10, 2, 3]

In [178]:
a = [1,2,3]
b = a.copy()

a[0] = 10
print(b)

[1, 2, 3]

In [179]:
a = [[10, 20, 30],2,3]
b = a.copy()

a[0][0] = 100
print(b)

[[100, 20, 30], 2, 3]

In [185]:
a = 10
b = a

print(a == b)

True

In [186]:
print(a is b)

True

In [187]:
a = 1000
b = a
print(a is b)

True

In [211]:
a = 10

b = 10

print(a is b)

True

In [212]:
a = 1000000
b = 1000000

print(a == b)
print(a is b)

True
False

In [240]:
s = "abcd"

In [243]:
# list []
# tuple ()

In [249]:
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a), type(b))

<class 'list'> <class 'tuple'>

a[1] = 10
a

In [251]:
b[1] = 10
b

TypeError: 'tuple' object does not support item assignment

In [256]:
a = [1,]
b = (1,)

print(type(a), type(b))

<class 'list'> <class 'tuple'>

In [255]:
(1 + 2)/5

0.6

In [258]:
[2] * 3

[2, 2, 2]

In [259]:
(2,) * 3

(2, 2, 2)

In [260]:
"s" * 3

'sss'

In [261]:
[1,2,3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [262]:
"manu " + "s pillai"

'manu s pillai'

In [264]:
(1,2,3) + (10,)

(1, 2, 3, 10)

In [265]:
l = [[1,2]] * 3

In [266]:
l

[[1, 2], [1, 2], [1, 2]]

In [268]:
l[0][0] = 100

In [269]:
l

[[100, 2], [100, 2], [100, 2]]

In [270]:
b = (10, 20)
b = (20, 10)

In [271]:
b[0] = 10

TypeError: 'tuple' object does not support item assignment

109

### Dictionary

In [353]:
d = {"manu":"7982647950", "raghav":"7862381982"}

In [354]:
type(d)

dict

In [355]:
d["ramesh"] = "7877231020"

In [356]:
d

{'manu': '7982647950', 'raghav': '7862381982', 'ramesh': '7877231020'}

In [282]:
d1 = {1:"manu", 2:"ramesh"}

In [283]:
d1

{1: 'manu', 2: 'ramesh'}

In [284]:
d2 = {"manu":[1,2,3,4]}

In [285]:
d2

{'manu': [1, 2, 3, 4]}

In [287]:
d3 = {"manu":{"id":12344, "addresss":"string", "ph":280239810}}

In [289]:
d3["manu"]["id"]

12344

In [291]:
d2["manu"][-1]

4

In [292]:
a = "manu"

In [293]:
d = {a:"raghav"}

In [294]:
d[a]

'raghav'

In [295]:
a = "ramesh"

In [296]:
d[a]

KeyError: 'ramesh'

In [297]:
d

{'manu': 'raghav'}

In [298]:
d["manu"]

'raghav'

In [299]:
a = 10

d[a] = 20

In [300]:
d

{'manu': 'raghav', 10: 20}

In [302]:
d[10]

20

In [303]:
a = [1,2,3]

d = {a:10}

TypeError: unhashable type: 'list'

In [304]:
a = (1,2,3)

d = {a:10}

In [306]:
d[a]

10

In [308]:
d[(3,2,1)]

KeyError: (3, 2, 1)

In [309]:
a = (1,2,3)
b = (3,2,1)

a == b

False

In [312]:
[1,2,3] is [1,2,3]

False

In [319]:
a = ()

b = ()

In [321]:
type(a)

tuple

False

In [324]:
a = 10
b = 20

print(a, b)

c = a
a = b
b = c

print(a, b)

10 20
20 10

In [325]:
a = [10, 20, 30]

In [330]:
a, b, c =  [10, 20]

ValueError: not enough values to unpack (expected 3, got 2)

In [331]:
a, b =  [10, 20, 30]

ValueError: too many values to unpack (expected 2)

In [329]:
print(a, b)

10 20

In [332]:
a, b = (10, 20)

In [334]:
type(   (a, b)    )

tuple

In [335]:
c, d = (a, b)

In [337]:
print(a, b)
a, b = (b, a)
print(a, b)

10 20
20 10

In [342]:
a = 100
b = 200

t = (a, b)

In [343]:
a = 20

In [344]:
t

(100, 200)

In [345]:
l = [(1,1), (2, 4), (3, 9), (4, 16), (5, 25)]

for val in l:
    print("Value:", val[0], "Square:", val[1])

Value: 1 Square: 1
Value: 2 Square: 4
Value: 3 Square: 9
Value: 4 Square: 16
Value: 5 Square: 25

In [346]:
l = [(1,1), (2, 4), (3, 9), (4, 16), (5, 25)]

for v, sq in l:
    print("Value:", v, "Square:", sq)

Value: 1 Square: 1
Value: 2 Square: 4
Value: 3 Square: 9
Value: 4 Square: 16
Value: 5 Square: 25

In [357]:
d = {'manu': '7982647950', 'raghav': '7862381982', 'ramesh': '7877231020'}

In [360]:
for key in d:
    print(key, ":", d[key])

manu : 7982647950
raghav : 7862381982
ramesh : 7877231020

In [363]:
for item in d.items():
    print(item)

('manu', '7982647950')
('raghav', '7862381982')
('ramesh', '7877231020')

In [362]:
for key, val in d.items():
    print(key, ":", val)

manu : 7982647950
raghav : 7862381982
ramesh : 7877231020

In [364]:
for key in d.keys():
    print(key)

manu
raghav
ramesh

In [365]:
for val in d.values():
    print(val)

7982647950
7862381982
7877231020

In [370]:
s = {1, 2, 3, 4, [1,2,3]}

TypeError: unhashable type: 'list'

In [369]:
type(s)

set

In [371]:
l = [1,2,3,4,5,6,7,8]
val = 7

for v in l:
    if val == v:
        print("Found")
        break

Found

In [372]:
l = [1,2,3,4,5,6,7,8]
val = 7

if val in l:
    print("Found")
else:
    print("Not Found")

Found

In [373]:
l = {1,2,3,4,5,6,7,8}
val = 7

if val in l:
    print("Found")
else:
    print("Not Found")

Found

int, float, str, list, set, dict

In [380]:
s = set()

type(s)

set

In [381]:
s = {1}

type(s)

set

In [385]:
int(1231.2), type(int("2318923"))

(1231, int)

In [387]:
str(1.0823), type(str(1.0823))

('1.0823', str)

In [388]:
str(123)

'123'

In [389]:
a = list()

In [390]:
a

[]

In [391]:
d = {"manu": "value"}

In [392]:
d["manu"] = "new value"

In [393]:
d

{'manu': 'new value'}

In [394]:
d = {True: "value"}

In [395]:
d[True]

'value'

In [403]:
d[1]

'value'

In [ ]:
d[2]

In [402]:
if 999999:
    print("True")
else:
    print("False")

True