### Functions

In [ ]:
n = int(input())

fact = 1
for i in range(1, n+1):
    fact = fact * i
print(fact)

```
def function_name(arg1, arg2, arg3):
    funtion_body

    return_statement
```

In [359]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

In [360]:
ans = factorial(10)

In [362]:
ans

3628800

In [361]:
fact

NameError: name 'fact' is not defined

In [356]:
ans

3628800

In [ ]:
type(ans)

In [ ]:
ans

In [ ]:
True, False, None

In [70]:
def function():
    print("Manu")
    # print(1/0)
    manu

In [71]:
ret = function()

Manu

NameError: name 'manu' is not defined

In [ ]:
ret

In [ ]:
type(ret)

In [ ]:
var = 10

In [ ]:
var = 20

In [ ]:
var

In [55]:
print(1/0)

ZeroDivisionError: division by zero

In [67]:
if False:
    # print(1/0)
    manu
else:
    print("okay")

okay

In [72]:
def factorial(n):
    if n==1:
        return n
    else:
        return n * factorial(n-1)

In [73]:
factorial(3)

6

In [74]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [76]:
factorial(5)

120

In [114]:
type(factorial(2))

ret = factorial(2)

type(ret)

int

In [86]:
def aman(arg):

    print(arg)

    return arg

In [87]:
a, b = aman("Manu"), aman(123)

Manu
123

In [88]:
a, b

('Manu', 123)

In [89]:
aman

In [90]:
a, b = aman , aman

In [91]:
type(a), type(b), type(aman)

(function, function, function)

In [93]:
b is aman

True

In [94]:
a("Manu")

Manu

'Manu'

var_name = function_name

In [79]:
a, b

('Manu', 123)

In [95]:
aman = "manu"

In [97]:
type(aman)

str

In [96]:
aman()

TypeError: 'str' object is not callable

In [98]:
a("manu")

manu

'manu'

In [129]:
def sum_of_data(l):
    s = 0

    if type(l) != type([]):
        return 0
    for i in l:
        s+=i
    return s

In [128]:
type([]) == type([1,2,3,4])
type([]) == type(list([]))

True

In [127]:
list([])

[]

In [123]:
type(list)

type

In [118]:
type(type([]))

type

In [ ]:
if type([]) == "list":
    print("True")

In [130]:
sum_of_data([1,2,3,4,5])

15

In [131]:
sum_of_data((1,2,3,4,5))

0

In [104]:
sum_of_data({1:1, 2:2, 3:3, 4:4, 5:5})

15

In [132]:
def func(arg1, arg2):
    pass

In [134]:
func(1,2,3)

TypeError: func() takes 2 positional arguments but 3 were given

In [135]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [151]:
a = 1,2,3,4,5,6 # 1000000000

In [152]:
type(a)

tuple

In [141]:
a = 1, b = 2

SyntaxError: can't assign to literal (<ipython-input-141-34ef7324e925>, line 1)

In [203]:
def func(*a, b):
    print("b:", b)
    print("a:", a)

In [204]:
func(1,2,3,4,5)

TypeError: func() missing 1 required keyword-only argument: 'b'

In [205]:
func(1,2,3,4,5, b=10)

b: 10
a: (1, 2, 3, 4, 5)

In [192]:
def func(b, *a):
    print("b:", b)
    print("a:", a)

In [198]:
func((1,2,3), 10,20,30,40)

b: (1, 2, 3)
a: (10, 20, 30, 40)

In [199]:
func(1, 2)

b: 1
a: (2,)

In [168]:
def func(a, b=20, c=30):
    print("a:", a)
    print("b:", b)
    print("c:", c)

def func1(a, b, c):
    print("a:", a)
    print("b:", b)
    print("c:", c)

In [169]:
func(1,2,3)

a: 1
b: 2
c: 3

In [170]:
func(2,1,3)

a: 2
b: 1
c: 3

In [172]:
func(1)

a: 1
b: 20
c: 30

In [167]:
func1()

TypeError: func1() missing 3 required positional arguments: 'a', 'b', and 'c'

In [175]:
func(1, c=10)

a: 1
b: 20
c: 10

In [176]:
func(b=1,c=2, a=3)

a: 3
b: 1
c: 2

In [178]:
func(1, c=3, b=1)

a: 1
b: 1
c: 3

In [179]:
func(1, c=3, b=1, a=2)

TypeError: func() got multiple values for argument 'a'

In [181]:
def func(arg=[1,2,3]):
    print(arg)

In [182]:
func([10, 20, 30])

[10, 20, 30]

In [183]:
func(1)

1

In [206]:
def func1(a, b, c):
    return a+b+c

In [207]:
l = [1,2,3]

In [210]:
func1(l[0], l[1], l[2])

6

In [211]:
a,b,c = l

In [212]:
a, b, c

(1, 2, 3)

In [213]:
func1(*l)

6

In [214]:
l1 = ["manu", "s", "pillai"]

In [216]:
print("a", "b", "c", sep="#")

a#b#c

In [217]:
print(*l1, sep="#")

manu#s#pillai

In [226]:
def custom_print(*value, sep1=" ", end1="\n"):

    print(*value, sep=sep1, end=end1)

In [228]:
custom_print("manu", "ramesh", "jupiter", sep1="#")

manu#ramesh#jupiter

In [225]:
print("manu", "ramesh", "jupiter")

manu ramesh jupiter

In [267]:
def func2(a, b, c):
    print("a:", a)
    print("b:", b)
    print("c:", c)

In [235]:
l = [10,2,3]
func2(*l)

a: 10
b: 2
c: 3

In [268]:
d = {"b":2, "a":1, "c":3}

func2(**d)

a: 1
b: 2
c: 3

In [269]:
def func2(a, b, c):
    print("a:", a)
    print("b:", b)
    print("c:", c)

d = {"b":2, "a":1, "c":3, "e":5}

func2(**d)

In [242]:
def func(*arg):
    print(arg)

# func(12,23,8,81,2,2,2,5,31,2,1,31)
func()

()

In [249]:
def aiysa_func(**kwarg):
    print(kwarg)

In [250]:
aiysa_func(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [251]:
aiysa_func()

{}

In [252]:
aiysa_func(1,2,3,4)

TypeError: aiysa_func() takes 0 positional arguments but 4 were given

In [261]:
def aiysa_func1(a, b, c, **kwarg):
    print(a)
    print(b)
    print(c)
    print(kwarg)

In [262]:
aiysa_func1(1,2, c=3, d=4)

1
2
3
{'d': 4}

In [266]:
aiysa_func1(c=1,b={"manu":1, "raghav":3}, a=3)

3
{'manu': 1, 'raghav': 3}
1
{}

In [273]:
def func2(a, b, c, **kwargs):
    print("a:", a)
    print("b:", b)
    print("c:", c)
    print("kwargs:", kwargs)

d = {"b":2, "a":1, "c":3, "e":5}

func2(**d)

a: 1
b: 2
c: 3
kwargs: {'e': 5}

In [279]:
my_dict = dict(a=10, b=20, c=30)

In [280]:
my_dict

{'a': 10, 'b': 20, 'c': 30}

In [281]:
def custom_dict(**kwargs):
    return kwargs

In [282]:
my_dict1 = custom_dict(a=2, b=3, e=10)

In [283]:
my_dict1

{'a': 2, 'b': 3, 'e': 10}

In [301]:
def function(func_obj, *val):
    # print(val)
    return func_obj(val) #sum(val) where val is what? a tuple

In [305]:
type(sum)

builtin_function_or_method

In [307]:
sum((1,2,3,4))

10

In [302]:
function(sum, 1,2,3,4)

10

In [294]:
arr = [1,2,3,4]
ans = function(sum, *arr), function(len, *arr)

In [295]:
ans

(10, 4)

In [308]:
l = [sum, len]
# a = sum
# b = sum
# l = [a, b]


for i in l:
    print(i([1,2,3,4]))

10
4

In [312]:
def function():
    return sum

type(function())

builtin_function_or_method

In [315]:
def function():
    return function

type(function())

function

In [320]:
 10 + "manu"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [318]:
"manu" + "ramesh" + "jupiter"

'manurameshjupiter'

In [317]:
sum(["manu", "ramesh", "jupiter"])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [350]:
def func1():
    print("func1")
    # func2()
    def raghav():
        print("raghav")
        def anjali():
            print("anjali")
            return None
        anjali()
        return None
    raghav()
    return None

In [351]:
func1()

func1
raghav
anjali

In [342]:
raghav()

NameError: name 'raghav' is not defined

In [336]:
def function10():
    val = 10
    return None

In [338]:
function10()

In [339]:
val

NameError: name 'val' is not defined

In [377]:
def challenge1(b=10):
    print(b)

In [378]:
challenge1(3)
challenge1()

3
10

In [368]:
def challenge(val, arr=[]):
    arr.append(val)
    print(arr)

In [370]:
challenge(10)
challenge(20)

[10]
[10, 20]

### Scope